body {
    padding: 0 var(--spacing);
}

#brand {
    color: inherit !important;
    background: inherit !important;
}

#brand img {
    height: calc(var(--font-size) * 2);
}

main#lona {
    min-height: 100vh;
}

footer#lona-footer {
    min-height: 4em;
}

@media (max-width: 992px) {
    header#lona-header nav {
        display: block;
    }

    header#lona-header nav > ul > li {
        padding-top: calc(var(--nav-element-spacing-vertical) / 2);
        padding-left: 0;
        padding-right: calc(var(--nav-element-spacing-horizontal) * 2);
    }

    header#lona-header > nav {
        margin-top: calc(var(--nav-element-spacing-horizontal) * 2);
        margin-bottom: calc(var(--nav-element-spacing-horizontal) * 2);
    }
}

/* scroller ---------------------------------------------------------------- */
.scroller {
    overflow-y: scroll;
    overflow-x: auto;
}

.scroller * {
    overflow-anchor: none;
}

.scroller .scroller-body {
    min-height: 101%;
}

.scroller .scroller-anchor {
    overflow-anchor: auto;
    height: 1px;
}
