<nav>
    <ul>
        <li><a href="/" id="brand">{% if theme_data.logo_path %}<img src="{{ theme_data.logo_path }}"> {% endif %}{% if theme_data.theme_settings.brand %}<strong>{{ theme_data.theme_settings.brand }}</strong>{% endif %}</a></li>
    </ul>
    <ul>
        {% for nav_item in theme_data.navigation %}
            {% if nav_item.nav_items %}
                <li>
                    <details role="list" dir="rtl">
                        <summary aria-haspopup="listbox" role="link">{% if nav_item.icon %}<i data-feather="{{ nav_item.icon }}"></i>{% endif %}{{ nav_item.title }}</summary>
                        <ul role="listbox">
                            {% for sub_nav_item in nav_item.nav_items %}
                                <li{% if sub_nav_item.divider %} role="divider"{% endif %}>
                                    {% if sub_nav_item.divider %}
                                        {% if sub_nav_item.icon %}<i data-feather="{{ sub_nav_item.icon }}"></i>{% endif %}{{ sub_nav_item.title }}
                                     {% else %}
                                        <a href="{{ sub_nav_item.url }}">{% if sub_nav_item.icon %}<i data-feather="{{ sub_nav_item.icon }}"></i>{% endif %}{{ sub_nav_item.title }}</a>
                                     {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </details>
                </li>
            {% else %}
                <li>
                  <a href="{{ nav_item.url }}">{% if nav_item.icon %}<i data-feather="{{ nav_item.icon }}"></i>{% endif %}{{ nav_item.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
