{% extends "picocss/django/base.html" %}

{% block title %}{{ theme_data.theme_settings.brand }} - Password Change{% endblock %}

{% block content %}
    <form class="auth-form" method="post">
        {% csrf_token %}

        <dialog open>
            <article>
                <a href="/" class="close" aria-label="Close"></a>

                <h3>Password Change</h3>

                <p>
                    Please enter your old password, for security’s sake, and then enter
                    your new password twice so we can verify you typed it in correctly.
                </p>

                {# old password #}
                <label>
                    {{ form.old_password.label_tag }}
                    {{ form.old_password.errors }}
                    {{ form.old_password }}
                </label>

                {# new password 1 #}
                <label>
                    {{ form.new_password1.label_tag }}
                    {{ form.new_password1.help_text|safe }}
                    {{ form.new_password1.errors }}
                    {{ form.new_password1 }}
                </label>

                {# new password 2 #}
                <label>
                    {{ form.new_password2.label_tag }}
                    {{ form.new_password2.help_text|safe }}
                    {{ form.new_password2.errors }}
                    {{ form.new_password2 }}
                </label>

                {# this is necesarry to make the margin on the first <p> work #}
                <p></p>

                <footer>
                    <input type="submit" value="Change Password">
                </footer>
            </article>
        </dialog>
    </form>
{% endblock %}
