{% extends "picocss/django/base.html" %}

{% block title %}{{ theme_data.theme_settings.brand }} - Password Reset{% endblock %}

{% block content %}
    <form class="auth-form">
        <dialog open>
            <article>
                <a href="/" class="close" aria-label="Close"></a>

                <h3>Success</h3>

                <p>Your password has been set. You may go ahead and log in now.</p>

                <footer>
                    <a href="{% url 'login' %}" role="button">Login</a>
                </footer>
            </article>
        </dialog>
    </form>
{% endblock %}
