{% extends "picocss/django/base.html" %}

{% block title %}{{ theme_data.theme_settings.brand }} - Password Reset{% endblock %}

{% block content %}
    <form class="auth-form">
        <dialog open>
            <article>
                <a href="{% url 'login' %}" class="close" aria-label="Close"></a>

                <h3>Password Reset</h3>

                <p>
                    We’ve emailed you instructions for setting your password,
                    if an account exists with the email you entered.
                    You should receive them shortly.
                </p>

                <p>
                    If you don’t receive an email, please make sure you’ve
                    entered the address you registered with, and check your
                    spam folder.
                </p>

                <footer>
                    <a href="{% url 'login' %}" role="button">Login</a>
                </footer>
            </article>
        </dialog>
    </form>
{% endblock %}
