{% extends "picocss/django/base.html" %}

{% block title %}{{ theme_data.theme_settings.brand }} - Password Reset{% endblock %}

{% block content %}
    <form class="auth-form" method="post">
        {% if validlink %}
            {% csrf_token %}

            <dialog open>
                <article>
                    <a href="/" class="close" aria-label="Close"></a>

                    <h3>Password Reset</h3>

                    <p>
                        Please enter your new password twice so we can verify
                        you typed it in correctly.
                    </p>

                    {# new password 1 #}
                    <label>
                        {{ form.new_password1.label_tag }}
                        {{ form.new_password1.help_text|safe }}
                        {{ form.new_password1.errors }}
                        {{ form.new_password1 }}
                    </label>

                    {# new password 2 #}
                    <label>
                        {{ form.new_password2.label_tag }}
                        {{ form.new_password2.help_text|safe }}
                        {{ form.new_password2.errors }}
                        {{ form.new_password2 }}
                    </label>

                    {# this is necesarry to make the margin on the first <p> work #}
                    <p></p>

                    <footer>
                        <input type="submit" value="Set Password">
                    </footer>
                </article>
            </dialog>

        {% else %}
            <dialog open>
                <article>
                    <a href="/" class="close" aria-label="Close"></a>

                    <h3>Invalid Link</h3>

                    <p>
                        The password reset link was invalid, possibly because
                        it has already been used. Please request a new
                        password reset.
                    </p>

                    <footer>
                        <a role="button" href="/">Ok</a>
                    </footer>
                </article>
            </dialog>
        {% endif %}
    </form>
{% endblock %}
