{% extends "picocss/django/base.html" %}

{% block title %}{{ theme_data.theme_settings.brand }} - Password Reset{% endblock %}

{% block content %}
    <form class="auth-form" method="post">
        {% csrf_token %}

        <dialog open>
            <article>
                <a href="{% url 'login' %}" class="close" aria-label="Close"></a>

                <h3>Password Reset</h3>

                {% if form.errors %}
                    <p class="error">
                        {{ form.email.errors }}
                    </p>
                {% endif %}

                <p>
                    Enter your email address below, and we’ll email
                    instructions for setting a new one.
                </p>

                <label>
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </label>

                {# this is necesarry to make the margin on the first <p> work #}
                <p></p>

                <footer>
                    <input type="submit" value="Reset">
                </footer>
            </article>
        </dialog>
    </form>
{% endblock %}
