{% extends "picocss/django/base.html" %}

{% block title %}{{ theme_data.theme_settings.brand }} - Password Change{% endblock %}

{% block content %}
    <form class="auth-form">
        <dialog open>
            <article>
                <a href="/" class="close" aria-label="Close"></a>

                <h3>Success</h3>

                <p>Your password was changed.</p>

                <footer>
                    <a href="/" role="button">Ok</a>
                </footer>
            </article>
        </dialog>
    </form>
{% endblock %}
